<div class="container">
  <div class="row">
    <div class="col-lg-2">
      Date
      <input type="date" class="form-control" [(ngModel)]="tdate">
    </div>
    <div class="col-lg-2">
      Time
      <input type="time" class="form-control" [(ngModel)]="ttime">
    </div>
    <div class="col-lg-8">
      Task
      <input type="text" class="form-control" [(ngModel)]="ttask">
    </div>

    <div class="col-lg-12 p-2">
      <button class="btn btn-success" (click)="save()">Save</button>
    </div>
  </div>

  <div class="row">
    <div class="table table-scrollable">

      <table class="table table-bordered table-stripped">

        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Task</th>
        </tr>

        <tr *ngFor="let task of tasks;let i =index">

          <td>
            <button class="btn btn-outline-primary">Edit</button>
            <button (click)="delete(i)" class="btn btn-outline-danger">Delete</button>
          </td>
          <td>{{i+1}}</td>
          <td>{{task.date}}</td>
          <td>{{task.time}}</td> 
          <td>{{task.task}}</td>

        </tr>

      </table>

    </div>
  </div>
</div>
